@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";

.mdc-top-app-bar {
    top: 0;
    left: 0;
}

.mdc-list,
.pr {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
